.container {
  width: 100dvw;
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("src/assets/loginbg.png");
  background-size: cover;
  background-position: right;
   background-repeat: no-repeat;
  }
